<div id="header">
    <img id="logo" src="assets/media/images/PAYNES.png">
    <div class="centerContainer">
        <input [(ngModel)]="searchQuery" #ctrl="ngModel">
        <input class="my-vinyl-icons-font cursor-pointer display-inline font-size-150 vertical-middle black-button" type="submit" value="8" (click)=launchQuery()>
    </div>
    <div id="menuButton" (click)="expandMenu()">
        <div id="barsContainer">
            <div class="menuButtonBar"></div>
            <div class="menuButtonBar"></div>
            <div class="menuButtonBar"></div>
        </div>
    </div>
</div>
<div id="menuExpanded" [ngClass]="expandStatus ? 'active' : '' ">
    <ul class="menuContentHeader left">
        <li><span class="category_candy">Perfil</span>
            <ul>
                <li class="category_shirt" onclick="generateShopShowcase()">
                    <div>
                        <img src="ghostUser.png" >
                        <a href="javascript:void(0);" class="socialMenu noDecorLink" alt="acceso/registro" (click)="userRedirect()">{{userName.activeUser.name}}</a>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="menuContentHeader">
        <li><span class="category_candy">Categorías</span>
            <ul>
                <li class="category_owb" [routerLink]='["/Search"]' [queryParams]='{query:"owb", user:false}'>Old World Blues</li>
                <li class="category_mr" [routerLink]='["/Search"]' [queryParams]='{query:"mr", user:false}'>Mojave Ride</li>
                <li class="category_cw" [routerLink]='["/Search"]' [queryParams]='{query:"cw",  user:false}'>Classic Wave</li>
            </ul>
        </li>
    </ul>
    <ul class="menuContentHeader">
        <li><span class="inferior_candy">Otros</span>
            <ul>
                <li class="category_shirt" [routerLink]='["/Home"]'>Portada</li>
                <li class="category_shirt" onclick="generateShopShowcase()">Galería</li>
            </ul>
        </li>
    </ul>
    <ul class="menuContentHeader right">
        <li><span>Social</span>
            <ul>
                <li class="socialMenu">y</li>
                <li class="socialMenu">t</li>
                <br>
                <li class="socialMenu">f</li>
                <li class="socialMenu">c</li>
            </ul>
        </li>
    </ul>
</div>