<div id="homeContainer">
    <div *ngIf="theme">
        <div>
            <div>
                <img src="../../../../../assets/media/images/covers/{{theme.id}}.png"><span *ngIf='isAdmin' (click)='showThemeForm({attrName:"cover", attrId:"cover", value:theme.id})'>[[pencil]]</span><span *ngIf='isAdmin' (click)='showThemeForm({attrName:"audio", attrId:"audio", value:theme.id})'>[[mini-vinyl]]</span>
                <p>{{theme.name}} <span *ngIf='isAdmin' (click)='showThemeForm({attrName:"name", attrId:"", value:theme.name})'>[[pencil]]</span><span *ngIf='isAdmin' (click)='showThemeForm({attrName:"flag", attrId:"", value:theme.flag})'>[[mini-flag]]</span></p>
                <p (click)="routeArtist()">{{theme.artist.name}} {{theme.artist.surname}}</p>
                <p><span (click)="thumbValue(1)">[[thumb-up]] <ng-container *ngIf='isLike == 1'><b>{{theme.likes}}</b></ng-container><ng-container *ngIf='isLike != 1'>{{theme.likes}}</ng-container></span> <span (click)="thumbValue(-1)"> [[thumb-down]] <ng-container *ngIf='isLike == -1'><b>{{theme.dislikes}}</b></ng-container><ng-container *ngIf='isLike != -1'>{{theme.dislikes}}</ng-container></span></p>
            </div>
            
            <img *ngIf='lyrics' src="../../../../../assets/media/images/flags/{{flag}}.png" (click)='switchLyrics()'>
            <div *ngIf='lyrics' [innerHTML]="lyrics"></div>
            <div *ngIf='!lyrics'><p><b>Letra no disponible</b><p></p></div>
        </div>
        <div *ngIf='isAdmin'>
            <h3>Etiquetas</h3>
            <div *ngFor='let themeTag of theme.tags'>
                <p>{{themeTag}} <span (click)='modifyThemeData({attrName:"tags", attrId:"", value:themeTag})'>[[trash-can]]</span></p>
            </div>
            <div>
                <p (click)='showThemeForm({attrName:"tags", attrId:"", value:""})'> + Nueva etiqueta</p>
            </div>
        </div>
        <div>
            <h3>Comentarios {{theme.comments.length}}: </h3>
            <textarea [(ngModel)]="comment"></textarea>
            <br>
            <input type="submit" value="Enviar" (click)='publicateComment()'>
            <div *ngFor='let comment of theme.comments'>
                <p *ngIf='comment.activeUser' routerLink='/Profile/{{comment.userName}}'><b>{{comment.userName}}</b>:</p>
                <span *ngIf='comment.userName == user' (click)='removeComment(comment.commentId)'>[[trash-can]]</span>
                <span *ngIf='isAdmin' (click)='deleteComment(comment.commentId)'>[[trash-can-admin]]</span>
                <p *ngIf='!comment.activeUser'><b><s>{{comment.userName}}</s></b>:</p>
                <p>{{comment.comment}}</p>
            </div>
        </div>
        <div *ngIf='showInput'>
            <h2>Nuevo elemento "{{attrTranslation[inputAttr]}}":</h2>
            <label for="{{inputAttr}}"><p>{{attrTranslation[inputAttr]}}:</p>
                <ng-container *ngIf='inputAttr != "description" && inputAttr != "audio" && inputAttr != "cover"'>
                    <input id="{{inputAttr}}" type="text" [(ngModel)]="inputValue">
                    <br>
                </ng-container>
                <input id="{{inputAttr}}" class="{{formErrFile.class}}" *ngIf='inputAttr == "audio"' type="file" (change)='checkAudioFile("audio")'>
                <input id="{{inputAttr}}" class="{{formErrFile.class}}" *ngIf='inputAttr == "cover"' type="file" (change)='setImagePreview("cover")'>
                <input id="{{inputAttr}}" class="{{formErrFile.class}}" *ngIf='inputAttr == "flag"' type="file" (change)='setImagePreview("flag")'>
                <img id="imagePreview" src="ghostFlag.png" *ngIf='inputAttr == "cover" || inputAttr == "flag"'>
                <textarea id="{{inputAttr}}" *ngIf='inputAttr == "description"' name="" id="" cols="30" rows="10" [(ngModel)]="inputValue"></textarea>
                <p *ngIf='formErr.text != ""'>{{formErr.text}}</p>
            </label>
            <br><br>
            <button (click)='confirmFrom()' >Modificar</button>
            <button (click)='showInput = false' >Cancelar</button>
        </div>
    </div>
</div>