<div id="homeContainer">
    <div *ngIf="theme">
        <div style="width: 60%;" class="display-inline">
            <div style="padding: 15px;">
                <div>
                    <div style="max-width: 550px;">
                        <div class="txt-horizontal-left">
                            <div>
                                <div class="display-inline" style="position: relative; width: 90%;">
                                    <img style="width: 100%; position: absolute; border-radius: 50%;" class="vinyl {{vinylState}} cursor-pointer" (click)="sentToReproductor('stop')" src="{{mediaPath}}/images/m-vinyl.png">
                                    <img style="position: relative; width: 100%; z-index: 2;" class="{{coverCursorState}}" (click)="sentToReproductor('play')" src="{{mediaPath}}/images/covers/{{theme.id}}.png">
                                </div>
                                <div *ngIf='isAdmin' class="display-inline" style="text-align: center; vertical-align: top; padding: 5px; position: absolute;transform: translateX(-100%);z-index: 3;background-color: white;">
                                    <span id="pencil-writting-animation" class="display-inline" style="margin: 5px;">
                                        <span (click)='showThemeForm({attrName:"cover", attrId:"cover", value:theme.id})' class="my-vinyl-icons-font pencil-writting-bottom writting cursor-pointer display-inline font-size-150">+</span>
                                    </span>
                                    <br>
                                    <span id="vinyl-spin-animation-1" class="display-inline" style="margin: 5px;">
                                        <span (click)='showThemeForm({attrName:"audio", attrId:"audio", value:theme.id})' class="my-vinyl-icons-font vinyl-spin-1 cursor-pointer display-inline font-size-150">=</span>
                                    </span>
                                    <br>
                                    <span (click)='showThemeForm({attrName:"flag", attrId:"", value:theme.flag})' style="margin: 5px;" class="my-vinyl-icons-font font-size-150 display-inline cursor-pointer">G</span>
                                </div>
                            </div>
                            <p>
                                <span (click)="routeArtist()" class="cursor-pointer">{{theme.artist.name}} {{theme.artist.surname}} -&nbsp;</span>
                                <span>{{theme.name}} 
                                    <span *ngIf='isAdmin' id="pencil-writting-animation" class="display-inline">
                                        <span class="my-vinyl-icons-font pencil-writting writting cursor-pointer display-inline font-size-125" (click)='showThemeForm({attrName:"name", attrId:"", value:theme.name})' >+</span>
                                    </span>
                                </span>
                            </p>
                        </div>
                        <app-audio-bar></app-audio-bar>
                        <div style="width: 33%;" class="display-inline">
                            <p style="margin-top: 10px; margin-bottom: 10px;">Visitas: {{theme.views}}</p>
                        </div>
                        <div style="width: 33%;" class="display-inline">
                            <p style="width: 50%; margin-top: 10px; margin-bottom: 10px;" class="display-inline">
                                <span>
                                    <ng-container *ngIf='isLike == 1'>
                                        <span class="my-vinyl-icons-font font-size-150 cursor-pointer" (click)="thumbValue(1)"><b>@</b></span>
                                    </ng-container>
                                    <ng-container *ngIf='isLike != 1'>
                                        <span class="my-vinyl-icons-font font-size-150 cursor-pointer" (click)="thumbValue(1)">@</span>
                                    </ng-container>
                                    <span>&nbsp;</span>
                                    <span>{{theme.likes}}</span>
                                </span> 
                            </p>
                            <p style="width: 50%; margin-top: 10px; margin-bottom: 10px;" class="display-inline">
                                <span>
                                    <ng-container *ngIf='isLike == -1'>
                                        <span class="my-vinyl-icons-font font-size-150 cursor-pointer" (click)="thumbValue(-1)"><b>A</b></span>
                                    </ng-container>
                                    <ng-container *ngIf='isLike != -1'>
                                        <span class="my-vinyl-icons-font font-size-150 cursor-pointer" (click)="thumbValue(-1)">A</span>
                                    </ng-container>
                                    <span>&nbsp;</span>
                                    <span>{{theme.dislikes}}</span>
                                </span>
                            </p>
                            <div id="likes-bar" style="height: 3px; width: {{likesBarPercent}}%; background-color: blue; transform: translateY(100%);"></div>
                            <div id="dislikes-bar" style="height: 3px; width: 100%; background-color: {{dislikesBarColor}};"></div>
                        </div>
                        <div style="width: 33%;" class="display-inline">
                            <p style="margin-top: 10px; margin-bottom: 10px;"><span (click)="showThemeListForm = true" class="my-vinyl-icons-font font-size-150 cursor-pointer">;</span></p>
                        </div>
                        <div *ngIf='isAdmin' style="padding: 15px; padding-bottom: 5px;">
                            <h3 style="margin-top: 0px; margin-bottom: 10px;">Etiquetas:</h3>
                            <p *ngFor='let themeTag of theme.tags; let i = index' class="display-inline">
                                <span>{{themeTag}} - </span>
                                <span (click)='modifyThemeData({attrName:"tags", attrId:"", value:themeTag})' id="trash-can-animation" class="display-inline my-vinyl-icons-font font-size-150">
                                    <span class="trash-cap cursor-pointer display-inline">0</span>
                                    <span class="trash-body cursor-pointer display-inline">/</span>
                                </span>
                                <span *ngIf='i < theme.tags.length - 1'>,&nbsp;</span>
                            </p>
                            <div>
                                <p (click)='showThemeForm({attrName:"tags", attrId:"", value:""})' style="margin:0px;" class="my-vinyl-icons-font font-size-150 cursor-pointer"><</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="txt-horizontal-left" style="max-width: 550px; padding: 15px; padding-top: 5px;">
                <h3 style="margin-top: 0px;">Comentarios {{theme.comments.length}}: </h3>
                <textarea style="width: 99%; height: 100px;" [(ngModel)]="comment"></textarea>
                <br>
                <div>
                    <input type="submit" value="Enviar" (click)='publicateComment()'>
                </div>
                <br>
                <div>
                    <div *ngFor='let comment of theme.comments'>
                        <p *ngIf='comment.activeUser' class="display-inline cursor-pointer" style="width: 90%;" routerLink='/Profile/{{comment.userName}}'><b>{{comment.userName}}</b><span *ngIf='comment.date != "0"'> - {{comment.date}}</span>:</p>
                        <p *ngIf='!comment.activeUser' class="display-inline" style="width: 90%;"><b><s>{{comment.userName}}</s></b><span *ngIf='comment.date != "0"'> - {{comment.date}}</span>:</p>
                        <span *ngIf='isAdmin' style="width: 10%;" (click)='deleteComment(comment.commentId)' id="trash-can-animation" class="display-inline my-vinyl-icons-font font-size-150">
                            <span class="trash-cap cursor-pointer display-inline">0</span>
                            <span class="trash-body cursor-pointer display-inline">/</span>
                        </span>
                        <span *ngIf='!isAdmin && comment.userName == user' style="width: 10%;" (click)='removeComment(comment.commentId)' id="trash-can-animation" class="display-inline my-vinyl-icons-font font-size-150">
                            <span class="trash-cap cursor-pointer display-inline">0</span>
                            <span class="trash-body cursor-pointer display-inline">/</span>
                        </span>
                        <p>{{comment.comment}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 40%;" class="display-inline vertical-top">
            <div>
                <div>
                    <img *ngIf='lyrics' class="flag-small cursor-pointer" src="{{mediaPath}}/images/flags/{{flag}}.png" style="transform: translate(25px,100%);float: left;" (click)='switchLyrics()'>
                    <h3 class="display-inline">Letra: </h3>
                    <span *ngIf='isAdmin' id="pencil-writting-animation" class="display-inline" style="transform: translate(-25px,50%); float: right;">
                        <span (click)='showThemeForm({attrName:"lyrics", attrId:"", value:theme.lyrics.native, secondValue:theme.lyrics.esp})' class="my-vinyl-icons-font pencil-writting-bottom writting cursor-pointer display-inline font-size-150">+</span>
                    </span>
                </div>
                <div style=" max-height: 450px; overflow: auto; padding: 15px;">
                    <div *ngIf='lyrics' [innerHTML]="lyrics"></div>
                    <div *ngIf='!lyrics'><p><b>Letra no disponible</b><p></p></div>
                </div>
            </div>
            <br>
            <div>
                <h3 class="display-inline">Relacionados: </h3>
                <div style="max-height: 650px; overflow: auto; padding: 10px;">
                    <div *ngFor='let theme of suggestThemes' style="text-align: left; background-color: gray; padding: 10px; margin-top: 10px; margin-bottom: 10px; white-space: nowrap;" id="{{theme.id}}">
                        <div style="vertical-align: middle; height: 60px; min-width: 75px; margin-left: 10px; margin-right: 10px;" class="display-inline">
                            <img style="width: 60px; border: 2px solid; box-sizing: border-box;" src="{{mediaPath}}/images/covers/{{theme.id}}.png">
                        </div>
                        <div style="text-align: left; width: 55%; vertical-align: middle;" class="display-inline">
                            <p style="overflow: hidden; text-overflow: ellipsis; margin-top: 5px; margin-bottom: 5px;">
                                <span>Nombre: </span> <span class="cursor-pointer" [routerLink]='["/Theme"]' [queryParams]='{id:theme.id}'>{{theme.name}}</span>
                                <span> - </span> <span class="cursor-pointer" [routerLink]='["/Artist"]' [queryParams]='{id:theme.artist.id}'>{{theme.artist.name}} {{theme.artist.surname}}</span>
                            </p> 
                        </div>
                    </div>
                    <p (click)='searchResut("next")'>Ver más</p>
                </div>
            </div>
        </div>
        <div *ngIf='showThemeListForm'>
            <h2>Añadir tema a:</h2>
            <select [(ngModel)]='selectedThemeList' (change)='checkInList()'>
                <option selected="selected">-- Selecciona lista --</option>
                <ng-container *ngFor='let list of userThemeLists'>
                    <option *ngIf='isSessionUser && list.userManage'>{{list.name}}</option>
                </ng-container> 
            </select>
            <br><br>
            <ng-container *ngIf='selectedThemeList != ""'>
                <button (click)='addToThmemeList()' >{{buttonThemeList}}</button>
                <button (click)='showThemeListForm = false' >Cancelar</button>
            </ng-container>
        </div>
        <div *ngIf='showInput'>
            <h2>Nuevo elemento:</h2>
            <label for="{{inputAttr}}"><p>{{attrTranslation[inputAttr]}}:</p>
                <ng-container *ngIf='inputAttr != "description" && inputAttr != "audio" && inputAttr != "cover" && inputAttr != "lyrics"'>
                    <input id="{{inputAttr}}" type="text" [(ngModel)]="inputValue">
                    <br>
                </ng-container>
                <ng-container *ngIf='inputAttr == "lyrics"'>
                    <h2>Letra original:</h2>
                    <textarea id="{{inputAttr}}" name="native" id="" cols="30" rows="10" [(ngModel)]="inputValue"></textarea>
                    <br>
                    <h2>Letra traducida:</h2>
                    <textarea id="{{inputAttr}}" name="esp" id="" cols="30" rows="10" [(ngModel)]="inputSecondValue"></textarea>
                </ng-container>
                <input id="{{inputAttr}}" class="{{formErrFile.class}}" *ngIf='inputAttr == "audio"' type="file" (change)='checkAudioFile("audio")'>
                <input id="{{inputAttr}}" class="{{formErrFile.class}}" *ngIf='inputAttr == "cover"' type="file" (change)='setImagePreview("cover")'>
                <input id="{{inputAttr}}" class="{{formErrFile.class}}" *ngIf='inputAttr == "flag"' type="file" (change)='setImagePreview("flag")'>
                <img id="imagePreview" src="ghostFlag.png" *ngIf='inputAttr == "cover" || inputAttr == "flag"'>
                <textarea id="{{inputAttr}}" *ngIf='inputAttr == "description"' name="" id="" cols="30" rows="10" [(ngModel)]="inputValue"></textarea>
                <p *ngIf='formErr.text != ""'>{{formErr.text}}</p>
            </label>
            <br><br>
            <button (click)='confirmFrom()' >Modificar</button>
            <button (click)='showInput = false' >Cancelar</button>
        </div>
    </div>
</div>