<div id="homeContainer">
    <div *ngIf="theme">
        <div style="width: 60%;" class="display-inline">
            <div>
                <div>
                    <img src="{{mediaPath}}/images/vinyl.png">
                    <img src="{{mediaPath}}/images/covers/{{theme.id}}.png">
                    <span *ngIf='isAdmin' id="pencil-writting-animation" class="display-inline">
                        <span (click)='showThemeForm({attrName:"cover", attrId:"cover", value:theme.id})' class="my-vinyl-icons-font pencil-writting-bottom writting cursor-pointer display-inline font-size-150">+</span>
                    </span>
                    <span *ngIf='isAdmin' id="vinyl-spin-animation-1" class="display-inline">
                        <span (click)='showThemeForm({attrName:"audio", attrId:"audio", value:theme.id})' class="my-vinyl-icons-font vinyl-spin-1 cursor-pointer display-inline font-size-150">=</span>
                    </span>
                    <p>{{theme.name}} <span *ngIf='isAdmin' (click)='showThemeForm({attrName:"name", attrId:"", value:theme.name})'>[[pencil]]</span><span *ngIf='isAdmin' (click)='showThemeForm({attrName:"flag", attrId:"", value:theme.flag})'>[[mini-flag]]</span></p>
                    <p (click)="routeArtist()">{{theme.artist.name}} {{theme.artist.surname}}</p>
                    <app-audio-bar (outputToparent)='themeObservable($event)'></app-audio-bar>
                    <div style="width: 33%;">
                    </div>
                    <div style="width: 33%;">
                        <p style="width: 50%;" class="display-inline">
                            <span>
                                <ng-container *ngIf='isLike == 1'>
                                    <span class="my-vinyl-icons-font font-size-150 cursor-pointer" (click)="thumbValue(1)"><b>@</b></span>
                                </ng-container>
                                <ng-container *ngIf='isLike != 1'>
                                    <span class="my-vinyl-icons-font font-size-150 cursor-pointer" (click)="thumbValue(1)">@</span>
                                </ng-container>
                                <span>&nbsp;</span>
                                <span>{{theme.likes}}</span>
                            </span> 
                        </p>
                        <p style="width: 50%;" class="display-inline">
                            <span>
                                <ng-container *ngIf='isLike == -1'>
                                    <span class="my-vinyl-icons-font font-size-150 cursor-pointer" (click)="thumbValue(-1)"><b>A</b></span>
                                </ng-container>
                                <ng-container *ngIf='isLike != -1'>
                                    <span class="my-vinyl-icons-font font-size-150 cursor-pointer" (click)="thumbValue(-1)">A</span>
                                </ng-container>
                                <span>&nbsp;</span>
                                <span>{{theme.dislikes}}</span>
                            </span>
                        </p>
                        <div id="likes-bar" style="height: 3px; width: {{likesBarPercent}}%; background-color: blue; transform: translateY(100%);"></div>
                        <div id="dislikes-bar" style="height: 3px; width: 100%; background-color: {{dislikesBarColor}};"></div>
                    </div>
                    <div style="width: 33%;">
                        <p><span (click)="showThemeListForm = true">[[+]]</span></p>
                    </div>
                </div>
            </div>
            <div *ngIf='isAdmin'>
                <h3>Etiquetas</h3>
                <div *ngFor='let themeTag of theme.tags'>
                    <p>{{themeTag}} <span (click)='modifyThemeData({attrName:"tags", attrId:"", value:themeTag})'>[[trash-can]]</span></p>
                </div>
                <div>
                    <p (click)='showThemeForm({attrName:"tags", attrId:"", value:""})'> + Nueva etiqueta</p>
                </div>
            </div>
        </div>
        <div style="width: 40%;" class="display-inline vertical-top">
            <img *ngIf='lyrics' src="{{mediaPath}}/images/flags/{{flag}}.png" (click)='switchLyrics()'>
            <div *ngIf='lyrics' [innerHTML]="lyrics"></div>
            <div *ngIf='!lyrics'><p><b>Letra no disponible</b><p></p></div>
        </div>
        <div>
            <h3>Comentarios {{theme.comments.length}}: </h3>
            <textarea [(ngModel)]="comment"></textarea>
            <br>
            <input type="submit" value="Enviar" (click)='publicateComment()'>
            <div *ngFor='let comment of theme.comments'>
                <p *ngIf='comment.activeUser' routerLink='/Profile/{{comment.userName}}'><b>{{comment.userName}}</b>:</p>
                <span *ngIf='comment.userName == user' (click)='removeComment(comment.commentId)'>[[trash-can]]</span>
                <span *ngIf='isAdmin' (click)='deleteComment(comment.commentId)'>[[trash-can-admin]]</span>
                <p *ngIf='!comment.activeUser'><b><s>{{comment.userName}}</s></b>:</p>
                <p>{{comment.comment}}</p>
            </div>
        </div>
        <div *ngIf='showThemeListForm'>
            <select [(ngModel)]='selectedThemeList' (change)='checkInList()'>
                <option selected="selected">-- Selecciona lista --</option>
                <ng-container *ngFor='let list of userThemeLists'>
                    <option *ngIf='isSessionUser && list.userManage'>{{list.name}}</option>
                </ng-container> 
            </select>
            <br><br>
            <ng-container *ngIf='selectedThemeList != ""'>
                <button (click)='addToThmemeList()' >{{buttonThemeList}}</button>
                <button (click)='showThemeListForm = false' >Cancelar</button>
            </ng-container>
        </div>
        <div *ngIf='showInput'>
            <h2>Nuevo elemento "{{attrTranslation[inputAttr]}}":</h2>
            <label for="{{inputAttr}}"><p>{{attrTranslation[inputAttr]}}:</p>
                <ng-container *ngIf='inputAttr != "description" && inputAttr != "audio" && inputAttr != "cover"'>
                    <input id="{{inputAttr}}" type="text" [(ngModel)]="inputValue">
                    <br>
                </ng-container>
                <input id="{{inputAttr}}" class="{{formErrFile.class}}" *ngIf='inputAttr == "audio"' type="file" (change)='checkAudioFile("audio")'>
                <input id="{{inputAttr}}" class="{{formErrFile.class}}" *ngIf='inputAttr == "cover"' type="file" (change)='setImagePreview("cover")'>
                <input id="{{inputAttr}}" class="{{formErrFile.class}}" *ngIf='inputAttr == "flag"' type="file" (change)='setImagePreview("flag")'>
                <img id="imagePreview" src="ghostFlag.png" *ngIf='inputAttr == "cover" || inputAttr == "flag"'>
                <textarea id="{{inputAttr}}" *ngIf='inputAttr == "description"' name="" id="" cols="30" rows="10" [(ngModel)]="inputValue"></textarea>
                <p *ngIf='formErr.text != ""'>{{formErr.text}}</p>
            </label>
            <br><br>
            <button (click)='confirmFrom()' >Modificar</button>
            <button (click)='showInput = false' >Cancelar</button>
        </div>
    </div>
</div>