#center{

    position: relative;
    min-height: 75%;
	box-sizing: content-box;

}

#left{

	display: inline-block;
	width: 19.5%;
	height: 100%;
	margin-bottom: 35px;
	vertical-align: top;

}

#menuContainer{

	position: relative;
	display: inline-block;
	left: 50%;
    transform: translateX(-50%);

}

#menuContent{

    position: relative;
    color: rgb(179, 179, 179);
    font-family: BlazingSun;
    padding: 0px;
    margin: 0px;

}

#menuContent > li{

	margin-left: 0px;
    list-style-type: none;
    font-size: 1.3em;

}

#menuContent > li span{

	cursor: pointer;

}

#menuContent > li span:hover{

	color: rgb(204, 204, 204);

}

#menuContent li li{

	font-size: 0.9em;
	color: rgb(255, 255, 255);
	margin-left: -15px;
    list-style-type: none;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	transform: translateY(-100%);
	cursor: pointer;

}

#menuContent li.expand li{

	opacity: 1;
	pointer-events: auto;
	position: relative;
	transform: translateY(0%);

}

#menuContent li li.show:hover{

	transform: scale(1.05);

}

#right{

	display: inline-block;
	width: 79.5%;
	height: 100%;
	margin-bottom: 35px;

}

#candyRow{

	display: inline-block;
	height: 5%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;

}

#candyRow p{

	display: inline-block;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: BlazingSun;
	color: white;

}

#candyRow a{

	color: white;

}

#rightBody{

	width: 100%;
	height: 90%;
	box-sizing: border-box;

}

#menuTitle{

	margin-top: 25px;
	border-radius: 2px;

}

.title.big{

	font-size: 2.5em;

}

#imageGalery{

	color: rgb(166, 166, 166);
	font-family: BlazingSun;

}

#formMenu{

	position: relative;
	display: inline-block;
	left: 50%;
	transform: translateX(-50%);

}

#formMenu label{

	font-size: 1.1em;
	color: white;
	font-family: BlazingSun;

}

#signUpLink{

	font-family: BlazingSun;

}

#formContainer{

	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	padding: 25px;
	font-size: 1.1em;
	color: white;
	font-family: BlazingSun;
	background-color: rgb(128, 128, 128);
   

}

#formContainer input{

	width: 250px;

}

.previewContainer{

    display: inline-block;
    position: relative;
    height: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}

.galleryPreviewContainer{

	display: inline-block;
	height: 75px;
	width: 125px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.2);
	margin: 3px;

}

.galleryPreview{

	position: relative;
	max-height: 75px;
	margin-left: 62.5px;
    transform: translateX(-50%);
    cursor: pointer;

}

.galleryImage{

	display: block;
    position: relative;
    max-height: 100%;
    max-width: 90%;
    left: 50%;
    transform: translateX(-50%);

}

#smallImagesContainer{

    display: inline-block;
    position: relative;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);

}

.barPreviewContainer{

	display: inline-block;
	max-height: 75px;
	max-width: 75px;
	margin: 5px;
	overflow: hidden;
	box-sizing:border-box;

}

.barPreviewImage{

	position: relative;
	max-height: 75px;
	margin-left: 37.5px;
    transform: translateX(-50%);
    cursor: pointer;

}

#closeGallery{

	position: absolute;
	font-size: 3.5em;
	color: rgb(0, 102, 68);
	top: 0%;
	left: 99%;
	transform: translateX(-100%);
	cursor: pointer;
	user-select: none;

}

#closeGallery:hover{

	transform: translateX(-100%) scale(0.9);
	color: rgb(0, 128, 85);


}

#moveGalleryLeft{

	position: absolute;
    font-size: 3.5em;
    color: rgb(0, 102, 68);
    top: 50%;
    left: -2%;
    transform: translate(-100%,-50%);
    cursor: pointer;
    user-select: none;
    z-index: 9;

}

#moveGalleryLeft:hover:not(.moveButtonDisabled){

	transform: translate(-100%,-50%) scale(0.9);

}

#moveGalleryRight{

	position: absolute;
    font-size: 3.5em;
    color: rgb(0, 102, 68);
    top: 50%;
    left: 102%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
    z-index: 9;

}

#moveGalleryRight:hover:not(.moveButtonDisabled){

	transform: translateY(-50%) scale(0.9);

}

.moveButtonDisabled{

	cursor: default !important;
	color: gray !important;

}

#blackScreen{

	position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9;

}

#shoppingCartContainer{

	position: fixed;
	height: 70px;
	width: 70px;
	padding: 15px;
	top: 97%;
	left: 97%;
	transform: translate(-100%,-100%);
	overflow: visible !important;
	box-sizing: border-box;
	z-index: 5;

}

#shoppingCartContainer.expandedStepI{

	width: 500px;

}

#shoppingCartContainer.expandedStepI.expandedStepII{

	height: 500px;

}

#shoppingCartContainer.hideCart{

	left: 100%;
	margin-left: 35px;

}

#shoppingCartBackground{

	height: 100%;
    width: 100%;
    padding: 20px;
    background-color: orange;
    border-radius: 3px;
    box-sizing: border-box;

}

.shoppingCartBackgroundBody{

	display: flex;
    flex-flow: column;
	height: 100%;
    width: 100%;
    background-color: orange;
    box-sizing: border-box;
	overflow: hidden;
	opacity: 1;

}

.shoppingCartBackgroundBody.hide{

	opacity: 0;

}

#cartContainer{

	position: absolute;
	top: 0%;
	left: 0%;
	height: 75px;
	width: 75px;
	background-color: rgb(0, 102, 68);
	border: 3px solid white;
	border-radius: 50%;

}
.shoppingCartTitle{

	margin: 0px;
	padding-bottom: 5px;
	font-family: BlazingSun;
	color: white;
	border-bottom: 3px solid white;

}

#shoppingCartBody{

	flex: 1 1 auto;
	margin-top: 15px;
	margin-bottom: 20px;
	overflow: auto;

}

.shoppingCart{

	display: inline-block;
    position: relative;
    font-family: FontSocialMedia;
    font-size: 3em;
    top: 50%;
    left: 50%;
	color: white;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
	cursor: pointer;

}

.hideCartButton{

	position: absolute;
	top: -25px;
    left: -25px;
    font-size: 3em;
    color: rgba(0, 0, 0, 0.3);
	cursor: pointer;

}

#product{

	cursor: initial;

}

#infoContainer, #sumContainer{

	display: inline-block;
	
}

#infoContainer{

	max-width: 85%;

}

#sumContainer{

	float: right;
	text-align: right;
	
}

.cartProductContainer{

	font-family: BlazingSun;
	color: white;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

.productSeparator{

	margin-left: 10px !important;
	margin-right: 10px !important;
	cursor: default !important;

}

.cartProductContainer a{

	float: right;
	margin-left: 7px;
	margin-right: 7px;
	transform: scale(1.2);
	cursor: pointer;

}

.cartProductContainer a:hover{

	color: rgb(0, 153, 102) !important;

}

#totalCartProduct{

	text-align: right;
	padding-top: 10px;
	border-top: 3px solid white;

}