<div id="center">
    <div id="left">
        <ng-container *ngIf='!authorization.checkForToken()'>
            <div class="title-backg"><p>Iniciar sesión</p></div>
            <div id="toFormMenu">
                <p style="text-align: center;"><a href="javascript:void(0);" routerLink="/Sign-In" id="signUpLink" style="color: white;" class="link-decor-none" alt="Registrarse">Ya tengo cuenta</a></p>
                <p style="text-align: center;"><a href="javascript:void(0);" routerLink="/Sign-Up" id="signUpLink" style="color: white;" class="link-decor-none" alt="Registrarse">¿No estas registrado?</a></p>
            </div>
        </ng-container>
        <ng-container *ngIf='authorization.checkForToken()'>
            <div class="title-backg"><p>Bienvenido</p></div>
            <app-user-data></app-user-data>
        </ng-container>
        <div id="menuTitle" class="title-backg"><p>Categorías</p></div>
        <div id="menuContainer">
            <ul id="menuContent">
                <li><span class="old_world_blues_candy" (click)="expandOption($event.target)">Old World Blues</span>
                    <ul>
                        <li class="category_ragtime"><a [routerLink]='["/Search"]' [queryParams]='{query:"ragtime", user:false}'>Ragtime</a></li>
                        <li class="category_stride"><a [routerLink]='["/Search"]' [queryParams]='{query:"stride", user:false}'>Stride-Piano</a></li>
                        <li class="category_boogie"><a [routerLink]='["/Search"]' [queryParams]='{query:"boogie", user:false}'>Boogie-Woogie</a></li>
                        <li class="category_jazz"><a [routerLink]='["/Search"]' [queryParams]='{query:"blues", user:false}'>Blues-Jazz</a></li>
                        <li class="category_jazz"><a [routerLink]='["/Search"]' [queryParams]='{query:"pop", user:false}'>Pop-Popular</a></li>
                        <li class="category_v-soundtrack"><a [routerLink]='["/Search"]' [queryParams]='{query:"soundtracks+owb", user:false}'>Soundtracks</a></li>
                    </ul>
                </li>
                <li><span class="mojave_ride_candy" (click)="expandOption($event.target)">Mojave Ride</span>
                    <ul>
                        <li class="category_country"><a [routerLink]='["/Search"]' [queryParams]='{query:"country", user:false}'>Country</a></li>
                        <li class="category_c-soundtrack"><a [routerLink]='["/Search"]' [queryParams]='{query:"soundtracks+mr", user:false}'>Soundtracks</a></li>
                    </ul>
                </li>
                <li><span class="classic_wave_candy" (click)="expandOption($event.target)">Classic Wave</span>
                    <ul>
                        <li class="category_classic"><a [routerLink]='["/Search"]' [queryParams]='{query:"classic", user:false}'>Clásica</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="title-backg"><p>Galería</p></div>
        <div id="imageGalery" class="tinyFont centerText"><p>No hay contenido disponible</p></div>
    </div>
    <div id="right">
        <div id="candyRow">
            <p>
                <span *ngFor='let candy of candyRow; let i = index'>
                    <a href="javascript:void(0);" class="oh_a_candy" id="{{i +'-candy'}}" (click)='routerLink($event.target)'>{{candy.name}}</a>
                    <span *ngIf="i < candyRow.length - 1"> - </span>
                </span>
            </p>
        </div>
        <div id="rightBody">
            <app-showcase></app-showcase>
        </div>
    </div>
</div>