#showcase{

	height: 100%;
	margin: 5px;
	margin-top: 0;
	margin-right: 5px;
	padding: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	box-sizing: border-box;
	border-radius: 2px;

}

#showcase.color{

	/*background-color: rgb(102, 102, 102) rgb(128, 128, 128);*/

}
