<div id="homeContainer">
    <div *ngIf='isAdmin'>
        <h2>Nuevo artista</h2>
        <p (click)=showHomeForm()>Nuevo</p>
    </div>
    <div *ngFor='let category of categories | keyvalue'>
        <h2>{{category.value.name}}</h2>
        <div id={{category.value.code}}>
            <div *ngFor='let item of category.value.items' id="{{item.id}}" (click)=showItem($event.target)>
                <img src="../../../../../assets/media/images/covers/{{item.id}}.png">
                <p>{{item.name}}</p>
            </div>
        </div>
    </div>
    <div *ngIf='showForm'>
        <h2>Nuevo artista:</h2>
        <label for="avatar"><p>Avatar: </p>
            <input id="avatarFile"  type="file" [(ngModel)]="newArtist.avatarFile" (change)='setImagePreview("avatar")'>
            <img id="avatarPreview" src="ghostAvatar.png">
        </label>
        <label for="id"><p>Id: </p>
            <input  type="text" [(ngModel)]="newArtist.id">
        </label>
        <label for="name"><p>Nombre: </p>
            <input  type="text" [(ngModel)]="newArtist.name">
        </label>
        <label for="surname"><p>Apellidos: </p>
            <input  type="text" [(ngModel)]="newArtist.surname">
        </label>
        <label for="tags"><p>Etiquetas: </p>
            <input id="tags" type="text" [(ngModel)]="newArtist.tags" placeholder="tag, tag, tag">
        </label>
        <br><br>
        <button (click)='confirmFrom()' >Modificar</button>
        <button (click)='showForm = false' >Cancelar</button>
    </div>
</div>
