<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="background-image: url(https://user-images.githubusercontent.com/63560107/120610151-2ced2200-c453-11eb-88ab-1f09afa29524.png); width: 100%; height: 100%;">
        <br><br>
        <div style="text-align: center;">
            <div style="display: inline-block; background-image: url(https://user-images.githubusercontent.com/63560107/120617838-c79d2f00-c45a-11eb-8e01-b673c90528dd.png); background-repeat: no-repeat; text-align: left; width: 640px; position: relative; background-color: teal; padding: 30px; overflow: hidden;">
                <h2 style="font-family: sans-serif; margin-top: 0px; padding: 5px; padding-left: 10px; background-color: #005a5a; color: white; z-index: 2;">Bienvenido <!-- name -->:</h2>
                <br>
                <div style="padding-left: 15px; padding-right: 15px; z-index: 2;">
                    <p style="color: black;font-family: sans-serif; font-size: large; margin-top: 0px;">Saludos,</p>
                    <p style="color: black;font-family: sans-serif; font-size: large; margin-top: 0px;">Gracias por registrarte en <b>MyVinyl</b>, para acceder a totalidad de las funciones de la web debes verificar tu correo electrónico haciendo click en el siguiente enlace:</p>
                    <br>
                    <div style="text-align: center;">
                        <a style="font-family: sans-serif; font-weight: bold; font-size: large; background-color: white; padding: 5px; padding-left: 15px; padding-right: 15px;" href="<!-- path -->"><!-- path --></a>
                    </div>
                    <br>
                    <p style="color: black;font-family: sans-serif; font-size: large;">Un saludo.</p>
                    <p style="color: black;font-family: sans-serif; font-size: large; margin-top: 0px; margin-bottom: 0px;">La dirección de MyVinyl</p>
                </div>
                <br>
            </div>
            <br><br>
            <div style="width: 660px; display: inline-block; text-align: left;">
                <p style="color: black;">Este mensaje ha sido enviado a <a href="mailto:<!-- mail -->"><!-- mail --></a> por un sistema automático. Por favor no responda a este e-mail directamente.</p>
                <p style="color: black;">Si ha recibido este correo por equivocación ignorelo.</p>
            </div>
        </div>
        <br><br>
    </div>
</body>
</html>