<div id="userData">
    <div class="user-data-container-small text-centre" style="white-space: nowrap;">
        <div class="avatar-container-responsive">
            <div style="margin-right: 7px; height: 85px; width: 85px;" class="display-inline avatar-back cursor-pointer" [routerLink]='["/Profile/" + sessionValues.activeUser.name]'>
                <img class="avatar-small height-100" src="../../../../assets/media/images/users/{{sessionValues.activeUser.name}}.png" (error)="updateUrl($event, 'user')">
            </div>
        </div>
        <div class="avatar-container-responsive" style="margin-left:7px; vertical-align: baseline; transform: translateY(-50%);">
            <div class="text-left" style="display: inline-block;">
                <p class="cursor-pointer" style="margin-top: 5px; margin-bottom: 5px;" [routerLink]='["/Profile/" + sessionValues.activeUser.name]'> 
                    <span class="attr-name">Nombre: </span> <span style="font-weight: bold; color: #e1e1e1;">{{sessionValues.activeUser.name}}</span>
                </p>
                <p style="margin-top: 5px; margin-bottom: 5px;"> 
                    <span class="attr-name">Rango: </span> <span style="font-weight: bold; color: #e1e1e1;">{{range[sessionValues.activeUser.admin]}}</span><span tooltip="Admin" [options]="TooltipValues" *ngIf='sessionValues.activeUser.admin == "1"' class="my-vinyl-icons-font admin-color"> =</span>
                </p>
                
            </div>
        </div>
    </div>
    <p class="whiteLink centreLink marg-bott-0 cursor-pointer" style="margin-top: 10px;" (click)='closeSession()'>Cerrar sesión</p>
</div>
