<div id="userData">
    <div class="user-data-container-small text-centre" style="white-space: nowrap;">
        <div style="margin-right: 7px;" class="display-inline height-100 avatar-back cursor-pointer" [routerLink]='["/Profile/" + sessionValues.activeUser.name]'>
            <img class="avatar-small height-100" src="../../../../assets/media/images/users/{{sessionValues.activeUser.name}}.png">
        </div>
        <div style="margin-left:7px;" class="display-inline vertical-top text-left">
            <p class="cursor-pointer" [routerLink]='["/Profile/" + sessionValues.activeUser.name]'>{{sessionValues.activeUser.name}}</p>
            <p>Rango: {{range[sessionValues.activeUser.admin]}} <span *ngIf='sessionValues.activeUser.admin == "1"' class="my-vinyl-icons-font admin-color">=</span></p>
        </div>
    </div>
    <p class="whiteLink centreLink marg-bott-0 cursor-pointer" (click)='closeSession()'>Cerrar sesión</p>
</div>
