.drag-mode{
    position: absolute;
}
.timeTag{
    position: absolute; 
    transform: translate(-50%,-200%); 
    font-weight:bold; 
    background-color:rgba(255,255,255, 0.8);
    padding:5px;
}
#audio-bar-padding{
    z-index: 2;
    position: absolute; 
    margin-top: 10px; margin-bottom: 10px; 
    height: 10px; 
    transform: translateY(-100%);
    padding-top: 5px; padding-bottom: 5px;
    cursor: pointer;
}
#audio-bar{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 10px; 
    background-color: #808080
}
#audio-bar-progress{
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 10px; 
    transform: translateY(-100%);
}
#audio-bar-background{
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 10px; 
    transform: translateY(-100%);
}
#Meatball{
    position: relative; 
    top: 50%; 
    transform: translate(-50%,-50%);  
    width: 20px; height: 20px; 
    background-color: #384048; 
    border-radius: 50%;
    cursor: pointer;
}
#vol-bar{
    vertical-align: bottom; 
    display: inline-block; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    margin-left: 10px; 
    margin-right: 10px;  
    height: 5px; 
    background-color: #bfbfbf;
    cursor: pointer;
}
#vol-bar-progress{
    position: absolute;
    vertical-align: bottom; 
    display: inline-block; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    margin-left: 10px; 
    margin-right: 10px;  
    height: 5px; 
    cursor: pointer;
}
#vol-bar-padding{
    position: absolute;
    vertical-align: bottom; 
    display: inline-block; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    margin-left: 10px; 
    margin-right: 10px;  
    height: 5px; 
    cursor: pointer;
    z-index: 2;
}
#Baby-Meatball{
    position: relative; 
    top: 50%; 
    transform: translate(-50%,-50%); 
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}
.buttonsDisplay{
    text-align: center;
}
.cursor-pointer{
    cursor: pointer;
}
.buttonStyle{
    background-color: transparent;
}
.left-button{
    margin-right: 2.5px;
}
.right-button{
    margin-left: 2.5px;
}
.left-button-button{
    margin-left: 10px; 
    margin-right: 2.5px;
}
.rigth-button-button{
    margin-left: 2.5px; 
    margin-right: 10px;
}
.centre-button{
    margin-left: 2.5px;
    margin-right: 2.5px;
}