#footer{

	height: 5%;
    text-align: center;
    background-color: rgb(26, 26, 26);
    min-height: 75px;

}

#footer div{

	position: relative;
	display: inline-block;
	margin-left: 70px;
	margin-right: 70px;
	top: 50%;
	transform: translateY(-50%);
	vertical-align: top;

}

#footer p{

	margin: 0px;
	display: inline-block;
	text-align: center;
	display: inline-block;
	font-family: BlazingSun;
	color: white;

}

#footer span{

	cursor: pointer;

}