<div id="homeContainer">
    <div *ngIf='queryResult.artists.length > 0'>
        <h2>Artistas</h2>
        <div>
            <div *ngFor='let artist of queryResult.artists'>
                <img src="../../../../../assets/media/images/avatar/artist/{{artist.id_artist}}.png">
                <p>{{artist.name}} {{artist.surname}}</p>
            </div>
        </div>
    </div>
    <div *ngIf='queryResult.themes.length > 0'>
        <h2>Temas</h2>
        <div>
            <div *ngFor='let theme of queryResult.themes' id="{{theme.id}}" (click)=showItem($event.target)>
                <img src="../../../../../assets/media/images/covers/{{theme.id}}.png">
                <p>{{theme.name}}</p>
            </div>
        </div>
    </div>
</div>
