<div id="homeContainer">
    <div *ngIf='artist'>
        <div class="display-inline" style="width: 60%; padding: 15px; box-sizing: border-box;">
            <div style="float: left; margin-right: 10px; margin-bottom: 0px;">
                <img style="width: 200px; border-radius: 50%; border: 2px solid rgba(25, 25, 25, 0.5);" src="{{mediaPath}}/images/artists/{{artist.id_artist}}.png">
                <span *ngIf='isAdmin' id="pencil-writting-animation" class="display-inline" style="vertical-align: top;">
                    <span class="my-vinyl-icons-font pencil-writting writting cursor-pointer display-inline font-size-150" (click)='showArtistForm({attrName:"avatar", attrId:artist.id_artist, value:artist.id_artist})'>+</span>
                </span>
                <p style="margin-top: 10px; margin-bottom: 5px;">
                    <span> Nombre: </span>
                    <span>&nbsp;</span>
                    <span>{{artist.name}} {{artist.surname}}</span>
                    <span>&nbsp;</span>
                    <span *ngIf='isAdmin' id="pencil-writting-animation" class="display-inline">
                        <span class="my-vinyl-icons-font pencil-writting writting cursor-pointer display-inline font-size-150" (click)='showArtistForm({attrName:"name", attrId:"", value:artist.name, secondValue:artist.surname})'>+</span>
                    </span>
                </p>
                <p *ngIf='isAdmin' style="margin-top: 5px; margin-bottom: 0px;">
                    <span >Id: {{artist.id_artist}}</span>
                    <span>&nbsp;</span>
                    <span id="pencil-writting-animation" class="display-inline">
                        <span class="my-vinyl-icons-font pencil-writting writting cursor-pointer display-inline font-size-150" (click)='showArtistForm({attrName:"id_artist", attrId:"", value:artist.id_artist})'>+</span>
                    </span>
                    <span>&nbsp;</span>
                    <span>-</span>
                    <span>&nbsp;</span>
                    <span (click)='deleteArtist(artist.id_artist)' id="trash-can-animation" class="display-inline my-vinyl-icons-font font-size-150">
                        <span class="trash-cap cursor-pointer display-inline">0</span>
                        <span class="trash-body cursor-pointer display-inline">/</span>
                    </span>
                </p>
            </div>
            <span *ngIf='isAdmin' id="pencil-writting-animation" class="display-inline" style="float: right;">
                <span class="my-vinyl-icons-font pencil-writting writting cursor-pointer display-inline font-size-150" (click)='showArtistForm({attrName:"description", attrId:"", value:artist.description})'>+</span>
            </span>
            <div *ngIf='artist.description != ""' [innerHTML]="artist.description"></div>
            <span *ngIf='artist.description == ""'>Descripción no disponible</span>
        </div>
        <div class="display-inline vertical-top" style="width: 40%; padding: 15px; box-sizing: border-box;">
            <div>


                <div *ngIf='isAdmin' class="txt-horizontal-center">
                    <h3 style="margin-top: 0px; margin-bottom: 10px;" class="txt-horizontal-left">Etiquetas:</h3>
                    <p *ngFor='let artistTag of artist.tags; let i = index' class="display-inline">
                        <span>{{artistTag}} - </span>
                        <span (click)='modifyArtistData({attrName:"tags", attrId:"", value:artistTag})' id="trash-can-animation" class="display-inline my-vinyl-icons-font font-size-150">
                            <span class="trash-cap cursor-pointer display-inline">0</span>
                            <span class="trash-body cursor-pointer display-inline">/</span>
                        </span>
                        <span *ngIf='i < artist.tags.length - 1'>,&nbsp;</span>
                    </p>
                    <div>
                        <p (click)='showArtistForm({attrName:"tags", attrId:"", value:""})' style="margin:0px;" class="my-vinyl-icons-font font-size-150 cursor-pointer"><</p>
                    </div>
                </div>
                <div>
                    <h3 class="display-inline" style="width: 80%;">Temas: </h3>
                    <span *ngIf='isAdmin' style="position: absolute; transform: translateY(50%);" class="my-vinyl-icons-font font-size-150 cursor-pointer" (click)='showArtistForm({attrName:"reassignMulti", attrId:artist.id_artist, value:artist.id_artist})'>:</span>
                </div>
                <div style="max-height: 500px;">
                    <div *ngFor='let theme of artist.themeList' style="background-color: gray; padding: 15px; margin-top: 10px; margin-bottom: 10px; white-space: nowrap;" id="{{theme.id}}">
                        <div style="vertical-align: middle; height: 75px; min-width: 75px; margin-left: 10px; margin-right: 10px;" class="display-inline">
                            <img style="width: 75px; border: 2px solid; box-sizing: border-box;" src="{{mediaPath}}/images/covers/{{theme.id}}.png">
                        </div>
                        <div style="width: 58%; vertical-align: middle;" class="display-inline">
                            <p style="overflow: hidden; text-overflow: ellipsis; margin-top: 5px; margin-bottom: 5px;"><span>Nombre: </span> <span class="cursor-pointer" (click)=showItem(theme.id)>{{theme.name}}</span></p> 
                            <ng-container>
                                <p *ngIf='isAdmin' style="overflow: hidden; text-overflow: ellipsis; margin-top: 5px; margin-bottom: 5px;"><span>Id: </span> <span>{{theme.id}}</span></p>
                                <span *ngIf='isAdmin' (click)='deleteTheme(theme.id)' id="trash-can-animation" class="display-inline my-vinyl-icons-font font-size-150">
                                    <span class="trash-cap cursor-pointer display-inline">0</span>
                                    <span class="trash-body cursor-pointer display-inline">/</span>
                                </span>
                                <span *ngIf='isAdmin'> - </span>
                                <span *ngIf='isAdmin' id="pencil-writting-animation" class="display-inline">
                                    <span class="my-vinyl-icons-font cursor-pointer display-inline font-size-150" (click)='showArtistForm({attrName:"reassign", attrId:theme.id, value:theme.id})'>9</span>
                                </span>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="cursor-pointer" style="background-color: gray; padding: 15px; margin-top: 10px; margin-bottom: 10px; white-space: nowrap;" (click)='showArtistForm({attrName:"newTheme", attrId:"", value:""})'>
                    <div style="vertical-align: middle; height: 75px; min-width: 75px; margin-left: 10px; margin-right: 10px;" class="display-inline">
                        <img style="width: 75px; border: 2px solid; box-sizing: border-box;" src="{{mediaPath}}/images/covers/new_cover.png">
                    </div>
                    <div style="vertical-align: middle;" class="display-inline">
                        <p style="overflow: hidden; text-overflow: ellipsis; margin-top: 5px; margin-bottom: 5px;">Nuevo tema</p> 
                    </div>
                </div>
                <div *ngIf='showInput'>
                    <ng-container *ngIf='inputAttr != "newTheme" && inputAttr != "reassign" && inputAttr != "reassignMulti"'>
                        <h2>Nuevo elemento "{{attrTranslation[inputAttr]}}":</h2>
                        <label for="{{inputAttr}}"><p>{{attrTranslation[inputAttr]}}</p>
                            <input id="{{inputAttr}}" *ngIf='inputAttr != "description" && inputAttr != "avatar"' type="text" [(ngModel)]="inputValue">
                            <input id="{{inputAttr}}" class="{{formErr.class}}"  *ngIf='inputAttr == "avatar"' type="file" (change)='setImagePreview({input:"avatar", preview:"formPreview", errObj:formErr})'>
                            <textarea id="{{inputAttr}}" *ngIf='inputAttr == "description"' name="" id="" cols="30" rows="10" [(ngModel)]="inputValue"></textarea>
                            <img *ngIf='inputAttr == "avatar"' id="formPreview" src="ghostCover.png">
                            <p *ngIf='formErr.text != ""'>{{formErr.text}}</p>
                        </label>
                    </ng-container>
                    <ng-container *ngIf='inputAttr == "name"'>
                        <br>
                        <label for="surname"><p>{{attrTranslation['surname']}}</p>
                            <input  type="text" [(ngModel)]="inputSecondValue">
                        </label>
                    </ng-container>
                    <ng-container *ngIf='inputAttr == "newTheme"'>
                        <h2>Nuevo tema: </h2>
                        <label for="name"><p>Nombre: </p>
                            <input  type="text" class="{{nameErr.class}}" [(ngModel)]="newTheme.name">
                            <p *ngIf='nameErr.text != ""'>{{nameErr.text}}</p>
                        </label>
                        <label for="cover"><p>Carátula: </p>
                            <input id="coverFile"  type="file" [(ngModel)]="newTheme.cover" (change)='setImagePreview({input: "cover", preview: "coverPreview", errObj:coverErr})'>
                            <img id="coverPreview" class="{{coverErr.class}}" src="ghostCover.png">
                            <p *ngIf='coverErr.text != ""'>{{coverErr.text}}</p>
                        </label>
                        <label for="flag"><p>Idioma: </p>
                            <input id="flag"  type="text" class="{{flagErr.class}}" [(ngModel)]="newTheme.flag" (keydown)="searchFlag()">
                            <p *ngIf='flagErr.text != ""'>{{flagErr.text}}</p>
                            <br><br>
                            <input id="flagFile" type="file" class="{{flagFileErr.class}}" [(ngModel)]="newTheme.flagFile" (change)='setImagePreview({input:"flag", preview:"flagFile", errObj:flagFileErr})'>
                            <p *ngIf='flagFileErr.text != ""'>{{flagFileErr.text}}</p>
                            <img id="flagPreview" src="ghostFlag.png">
                        </label>
                        <label for="tags"><p>Etiquetas: </p>
                            <input id="tags" type="text" [(ngModel)]="newTheme.tags" placeholder="tag, tag, tag">
                        </label>
                        <label for="lyrics_native"><p>Letra original: </p>
                            <textarea name="" id="lyrics_native" cols="30" rows="10" [(ngModel)]="newTheme.lyrics.native"></textarea>
                        </label>
                        <label for="lyrics_esp"><p>Letra traducida: </p>
                            <textarea name="lyrics_esp" id="" cols="30" rows="10" [(ngModel)]="newTheme.lyrics.esp"></textarea>
                        </label>
                        <label for="theme"><p>Tema: </p>
                            <input id="themeFile" type="file" class="{{themeErr.class}}" [(ngModel)]="newTheme.themeFile" (change)='checkAudioFile()'>
                            <p *ngIf='themeErr.text != ""'>{{themeErr.text}}</p>
                        </label>
                    </ng-container>
                    <ng-container *ngIf='inputAttr == "reassign" || inputAttr == "reassignMulti"'>
                        <h2>Resignar temas:</h2>
                        <label for="reassignArtist"><p>Mover <span *ngIf='inputAttr == "reassign"'>tema</span><span *ngIf='inputAttr == "reassignMulti"'>temas</span> de {{artist.name}} {{artist.surname}} a:</p>
                            <select name="reassignArtist" id="reassignArtist" [(ngModel)]="reassignArtist">
                                <option disabled value='default'>Selecciona una</option>
                                <ng-container *ngFor='let artistId of arstistIds'>
                                    <option *ngIf='artistId.id != artist.id_artist' value='{{artistId.id}}'>{{artistId.id}} - {{artistId.name}}</option>
                                </ng-container>
                            </select>
                        </label>
                    </ng-container>
                    <br><br>
                    <button (click)='confirmFrom()' >Modificar</button>
                    <button (click)='showInput = false' >Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
