<div id="homeContainer">
    <div *ngIf='artist'>
        <div class="display-inline" style="width: 60%; min-height: 500px; background-color: rgba(255,255,255, 0.1); padding: 25px; box-sizing: border-box;">
            <div style="float: left; margin-right: 10px; margin-bottom: 0px;">
                <img style="width: 200px; border-radius: 50%; border: 2px solid rgba(25, 25, 25, 0.5); margin-right: 16px;" src="{{mediaPath}}/images/artists/{{artist.id_artist}}.png" (error)="updateUrl($event, 'artist')">
                <span *ngIf='isAdmin' id="pencil-writting-animation" class="display-inline" style="vertical-align: top;">
                    <span tooltip="Editar" [options]="TooltipValues" class="my-vinyl-icons-font pencil-writting writting cursor-pointer display-inline font-size-150" (click)='showArtistForm({attrName:"avatar", attrId:artist.id_artist, value:artist.id_artist})'>+</span>
                </span>
                <p style="margin-top: 10px; margin-bottom: 5px; text-align: center;">
                    <span class="attr-name"> Nombre: </span>
                    <span>&nbsp;</span>
                    <span>{{artist.name}} {{artist.surname}}</span>
                    <span>&nbsp;</span>
                    <span *ngIf='isAdmin' id="pencil-writting-animation" class="display-inline">
                        <span tooltip="Editar" [options]="TooltipValues" class="my-vinyl-icons-font pencil-writting writting cursor-pointer display-inline font-size-150" (click)='showArtistForm({attrName:"name", attrId:"", value:artist.name, secondValue:artist.surname})'>+</span>
                    </span>
                </p>
                <p *ngIf='isAdmin' style="margin-top: 5px; margin-bottom: 0px;">
                    <span class="attr-name">Id: </span>
                    <span>{{artist.id_artist}}</span>
                    <span>&nbsp;</span>
                    <span id="pencil-writting-animation" class="display-inline">
                        <span tooltip="Editar" [options]="TooltipValues" class="my-vinyl-icons-font pencil-writting writting cursor-pointer display-inline font-size-150" (click)='showArtistForm({attrName:"id_artist", attrId:"", value:artist.id_artist})'>+</span>
                    </span>
                    <span>&nbsp;</span>
                    <span>-</span>
                    <span>&nbsp;</span>
                    <span tooltip="Borrar" [options]="TooltipValues" (click)='deleteArtist(artist.id_artist)' id="trash-can-animation" class="display-inline my-vinyl-icons-font font-size-150">
                        <span class="trash-cap cursor-pointer display-inline">0</span>
                        <span class="trash-body cursor-pointer display-inline">/</span>
                    </span>
                </p>
            </div>
            <span *ngIf='isAdmin' id="pencil-writting-animation" class="display-inline" style="float: right;">
                <span tooltip="Editar" [options]="TooltipValues" class="my-vinyl-icons-font pencil-writting writting cursor-pointer display-inline font-size-150" (click)='showArtistForm({attrName:"description", attrId:"", value:artist.description})'>+</span>
            </span>
            <div *ngIf='artist.description != ""' [innerHTML]="artist.description | safeHtml" class="text-color-09"></div>
            <div *ngIf='artist.description == ""'><p>Descripción no disponible</p></div>
        </div>
        <div class="display-inline vertical-top" style="width: 40%; padding: 15px; box-sizing: border-box;">
            <div>
                <div *ngIf='isAdmin' class="txt-horizontal-center">
                    <h3 style="margin-top: 0px; margin-bottom: 10px;" class="txt-horizontal-left title-back">Etiquetas:</h3>
                    <p *ngFor='let artistTag of artist.tags; let i = index' class="display-inline">
                        <span style="color: #e6e6e6;">{{artistTag}} </span><span> - </span>
                        <span tooltip="Borrar" [options]="TooltipValues" (click)='modifyArtistData({attrName:"tags", attrId:"", value:artistTag})' id="trash-can-animation" class="my-vinyl-icons-font display-inline font-size-150">
                            <span class="trash-cap cursor-pointer display-inline">0</span>
                            <span class="trash-body cursor-pointer display-inline">/</span>
                        </span>
                        <span *ngIf='i < artist.tags.length - 1'>,&nbsp;</span>
                    </p>
                    <div>
                        <p tooltip="Nuevo" [options]="TooltipValues" (click)='showArtistForm({attrName:"tags", attrId:"", value:""})' style="margin:0px;" class="my-vinyl-icons-font font-size-150 cursor-pointer"><</p>
                    </div>
                </div>
                <div>
                    <h3 class="title-back">Temas: <span tooltip="Mover temas" [options]="TooltipValues" *ngIf='isAdmin' style="color: black; text-shadow: none; float: right; transform: translateY(-10%); font-weight: normal;" class="my-vinyl-icons-font font-size-150 cursor-pointer" (click)='showArtistForm({attrName:"reassignMulti", attrId:artist.id_artist, value:artist.id_artist})'>:</span></h3>
                </div>
                <div style="max-height: 500px; overflow: auto; padding: 15px;">
                    <div *ngIf='isAdmin' class="cursor-pointer container-card" style="min-width: 200px; background-color: gray; padding: 15px; margin-top: 10px; margin-bottom: 10px; white-space: nowrap;" (click)='showArtistForm({attrName:"newTheme", attrId:"", value:""})'>
                        <div style="vertical-align: middle; height: 70px; min-width: 70px; margin-left: 10px; margin-right: 10px;" class="display-inline">
                            <img style="width: 70px; border: 2px solid; box-sizing: border-box;" src="{{mediaPath}}/images/covers/new_cover.png">
                        </div>
                        <div style="vertical-align: middle;" class="display-inline">
                            <p style="overflow: hidden; text-overflow: ellipsis; margin-top: 5px; margin-bottom: 5px;">Nuevo tema</p> 
                        </div>
                    </div>
                    <div *ngFor='let theme of artist.themeList' class="container-card" style="min-width: 200px; background-color: gray; padding: 15px; margin-top: 10px; margin-bottom: 10px; white-space: nowrap;" id="{{theme.id}}">
                        <div style="vertical-align: middle; height: 70px; min-width: 70px; margin-left: 10px; margin-right: 10px;" class="display-inline">
                            <img style="width: 70px; border: 2px solid; box-sizing: border-box;" src="{{mediaPath}}/images/covers/{{theme.id}}.png" (error)="updateUrl($event, 'theme')">
                        </div>
                        <div style="width: 58%; vertical-align: middle;" class="display-inline">
                            <p style="overflow: hidden; text-overflow: ellipsis; margin-top: 5px; margin-bottom: 5px;"><span class="attr-name">Nombre: </span> <span class="cursor-pointer" (click)=showItem(theme.id)>{{theme.name}}</span></p> 
                            <ng-container>
                                <p *ngIf='isAdmin' style="overflow: hidden; text-overflow: ellipsis; margin-top: 5px; margin-bottom: 5px;"><span class="attr-name">Id: </span> <span>{{theme.id}}</span></p>
                                <span tooltip="Borrar" [options]="TooltipValues" *ngIf='isAdmin' (click)='deleteTheme(theme.id)' id="trash-can-animation" class="display-inline my-vinyl-icons-font font-size-150" style="position: relative;">
                                    <span class="trash-cap cursor-pointer display-inline">0</span>
                                    <span class="trash-body cursor-pointer display-inline">/</span>
                                </span>
                                <span *ngIf='isAdmin'> - </span>
                                <span *ngIf='isAdmin' id="pencil-writting-animation" class="display-inline">
                                    <span tooltip="Mover tema" [options]="TooltipValues" class="my-vinyl-icons-font cursor-pointer display-inline font-size-150" (click)='showArtistForm({attrName:"reassign", attrId:theme.id, value:theme.id})'>9</span>
                                </span>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div *ngIf='showInput && blackScreenStatus.blackScreenStatus != ""' class="form-style">
                    <ng-container *ngIf='inputAttr != "newTheme" && inputAttr != "reassign" && inputAttr != "reassignMulti"'>
                        <h2 class="title-back-black" style="margin-top: 0px;" >Editar {{attrTranslation[inputAttr]}}:</h2>
                        <br>
                        <div style="text-align: center;">
                            <div style="text-align: left; display: inline-block;">
                                <ng-container *ngIf='inputAttr == "name"'>
                                    <p style="text-align: left; display: inline-block; margin: 0px;">{{attrTranslation[inputAttr]}}:</p>
                                    <br>
                                </ng-container>
                                <input id="{{inputAttr}}" *ngIf='inputAttr != "description" && inputAttr != "avatar"' type="text" [(ngModel)]="inputValue">
                            </div>
                        </div>
                        <div style="text-align: center;">
                            <input id="{{inputAttr}}" *ngIf='inputAttr == "avatar"' class="{{formErr.class}}"  type="file" style="margin: 10px;" (change)='setImagePreview({input:"avatar", preview:"formPreview", errObj:formErr})'>
                            <div *ngIf='inputAttr == "avatar"' class="artist-avatar-back-s" style="margin: 10px; display: inline-block; vertical-align: middle;">
                                <img id="formPreview" src="{{mediaPath}}/images/artists/{{artist.id_artist}}.png" (error)="updateUrl($event, 'user')">
                            </div>
                        </div>
                        <quill-editor id="{{inputAttr}}" *ngIf='inputAttr == "description"' [styles]="{height: '150px'}" [placeholder]="'Escribe algo...'" [(ngModel)]="inputValue">
                            <div quill-editor-toolbar style="white-space: pre-line; padding-left: 15px; text-align: center;">
                                <span class="ql-formats">
                                    <button class="ql-bold"></button>
                                    <button class="ql-italic"></button>
                                    <button class="ql-underline"></button>
                                    <button class="ql-strike"></button>
                                </span>
                                <span class="ql-formats">
                                    <button type="button" class="ql-header" value="1"></button>
                                    <button type="button" class="ql-header" value="2"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-list" value="ordered"></button>
                                    <button class="ql-list" value="bullet"></button>
                                </span>
                                <span class="ql-formats">
                                    <button type="button" class="ql-indent" value="-1"></button>
                                    <button type="button" class="ql-indent" value="+1"></button>
                                </span>                                      
                                <span class="ql-formats">
                                    <select class="ql-color"></select>
                                    <select class="ql-background"></select>
                                </span>
                                <span class="ql-formats">
                                    <select class="ql-align">
                                      <option selected></option>
                                      <option value="center"></option>
                                      <option value="right"></option>
                                      <option value="justify"></option>
                                    </select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-link"></button>
                                </span>
                                <span class="ql-formats">
                                    <button type="button" class="ql-clean">
                                    </button>
                                </span>
                            </div>
                        </quill-editor>
                        <div *ngIf='formErr.text == ""'>
                            <br>
                        </div>
                        <div *ngIf='formErr.text != ""'>
                            <p class="text-error" style="text-align: center;">{{formErr.text}}</p>
                        </div>
                    </ng-container>
                    <ng-container *ngIf='inputAttr == "name"'>
                        <div style="text-align: center;">
                            <div style="text-align: left; display: inline-block;">
                                <p style="display: inline-block; margin: 0px;">{{attrTranslation['surname']}}:</p>
                                <br>
                                <input  type="text" [(ngModel)]="inputSecondValue">
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf='inputAttr == "newTheme"'>
                        <h2 class="title-back-black">Nuevo tema: </h2>
                        <div style="padding: 10px;">
                            <label for="name"><p style="margin: 0px; margin-bottom: 10px;">Nombre: </p>
                                <input  type="text" class="{{nameErr.class}}" [(ngModel)]="newTheme.name">
                                <ng-container *ngIf='nameErr.text != ""'>
                                    <p class="text-error">{{nameErr.text}}</p>
                                </ng-container>
                                <ng-container *ngIf='nameErr.text == ""'>
                                    <br><br>
                                </ng-container>
                            </label>
                            <label for="cover"><p style="margin: 0px; margin-bottom: 10px;">Carátula: </p>
                                <input id="coverFile"  type="file" class="{{coverErr.class}}"  [(ngModel)]="newTheme.cover" (change)='setImagePreview({input: "cover", preview: "coverPreview", errObj:coverErr})'>
                                <div class="cover-back-preview-s" style="display: inline-block; position: absolute; margin-left: 60px; transform: translateY(-36%);">
                                    <img id="coverPreview" class="{{coverErr.class}}" src="{{mediaPath}}/images/covers/new_cover.png">
                                </div>
                                <ng-container *ngIf='coverErr.text != ""'>
                                    <br>
                                    <p class="text-error" style="display: inline-block;">{{coverErr.text}}</p>
                                </ng-container>
                                <ng-container *ngIf='coverErr.text == ""'>
                                    <br>
                                </ng-container>
                            </label>
                            <br><br>
                            <label for="flag"><p style="margin: 0px; margin-bottom: 10px;">Idioma: </p>
                                <input id="flag"  type="text" class="{{flagErr.class}}" [(ngModel)]="newTheme.flag" (keyup)="searchFlag()">
                                <p *ngIf='flagErr.text != ""'>{{flagErr.text}}</p>
                                <br><br>
                                <input id="flagFile" type="file" class="{{flagFileErr.class}}" [(ngModel)]="newTheme.flagFile" (change)='setImagePreview({input:"flag", preview:"flagFile", errObj:flagFileErr})'>
                                <div class="flag-back-preview" style="display: inline-block; position: absolute; margin-left: 60px; transform: translateY(-36%);">
                                    <img id="flagPreview" src="{{mediaPath}}/images/flags/not_found.png" (error)="updateUrl($event, 'flag')">
                                </div>
                                <ng-container *ngIf='flagFileErr.text != ""'>
                                    <br>
                                    <p class="text-error" style="display: inline-block;">{{flagFileErr.text}}</p>
                                </ng-container>
                                <ng-container *ngIf='flagFileErr.text == ""'>
                                    <br>
                                </ng-container>
                            </label>
                            <br><br>
                            <label for="tags"><p style="margin: 0px; margin-bottom: 10px;">Etiquetas: </p>
                                <input id="tags" type="text" [(ngModel)]="newTheme.tags" placeholder="tag, tag, tag">
                            </label>
                            <br><br>
                            <p style="margin: 0px;">Letra original: </p>
                            <br>
                            <quill-editor id="lyrics_native" [styles]="{height: '150px'}" [placeholder]="'Escribe algo...'" [(ngModel)]="newTheme.lyrics.native">
                                <div quill-editor-toolbar style="white-space: pre-line; padding-left: 15px; text-align: center;">
                                    <span class="ql-formats">
                                        <button class="ql-bold"></button>
                                        <button class="ql-italic"></button>
                                        <button class="ql-underline"></button>
                                        <button class="ql-strike"></button>
                                    </span>
                                    <span class="ql-formats">
                                        <button type="button" class="ql-header" value="1"></button>
                                        <button type="button" class="ql-header" value="2"></button>
                                    </span>
                                    <span class="ql-formats">
                                        <button class="ql-list" value="ordered"></button>
                                        <button class="ql-list" value="bullet"></button>
                                    </span>
                                    <span class="ql-formats">
                                        <button type="button" class="ql-indent" value="-1"></button>
                                        <button type="button" class="ql-indent" value="+1"></button>
                                    </span>                                      
                                    <span class="ql-formats">
                                        <select class="ql-color"></select>
                                        <select class="ql-background"></select>
                                    </span>
                                    <span class="ql-formats">
                                        <select class="ql-align">
                                          <option selected></option>
                                          <option value="center"></option>
                                          <option value="right"></option>
                                          <option value="justify"></option>
                                        </select>
                                    </span>
                                    <span class="ql-formats">
                                        <button class="ql-link"></button>
                                    </span>
                                    <span class="ql-formats">
                                        <button type="button" class="ql-clean">
                                        </button>
                                    </span>
                                </div>
                            </quill-editor>
                            <br><br>
                            <p style="margin: 0px;">Letra traducida: </p>
                            <br>
                            <quill-editor id="lyrics_esp" [styles]="{height: '150px'}" [placeholder]="'Escribe algo...'" [(ngModel)]="newTheme.lyrics.esp">
                                <div quill-editor-toolbar style="white-space: pre-line; padding-left: 15px; text-align: center;">
                                    <span class="ql-formats">
                                        <button class="ql-bold"></button>
                                        <button class="ql-italic"></button>
                                        <button class="ql-underline"></button>
                                        <button class="ql-strike"></button>
                                    </span>
                                    <span class="ql-formats">
                                        <button type="button" class="ql-header" value="1"></button>
                                        <button type="button" class="ql-header" value="2"></button>
                                    </span>
                                    <span class="ql-formats">
                                        <button class="ql-list" value="ordered"></button>
                                        <button class="ql-list" value="bullet"></button>
                                    </span>
                                    <span class="ql-formats">
                                        <button type="button" class="ql-indent" value="-1"></button>
                                        <button type="button" class="ql-indent" value="+1"></button>
                                    </span>                                      
                                    <span class="ql-formats">
                                        <select class="ql-color"></select>
                                        <select class="ql-background"></select>
                                    </span>
                                    <span class="ql-formats">
                                        <select class="ql-align">
                                          <option selected></option>
                                          <option value="center"></option>
                                          <option value="right"></option>
                                          <option value="justify"></option>
                                        </select>
                                    </span>
                                    <span class="ql-formats">
                                        <button class="ql-link"></button>
                                    </span>
                                    <span class="ql-formats">
                                        <button type="button" class="ql-clean">
                                        </button>
                                    </span>
                                </div>
                            </quill-editor>
                            <br><br>
                            <label for="theme"><p style="margin: 0px; margin-bottom: 10px;">Tema: </p>
                                <input id="themeFile" type="file" class="{{themeErr.class}}" [(ngModel)]="newTheme.themeFile" (change)='checkAudioFile()'>
                                <p *ngIf='themeErr.text != ""'>{{themeErr.text}}</p>
                            </label>
                        </div>
                    </ng-container>
                    <ng-container *ngIf='inputAttr == "reassign" || inputAttr == "reassignMulti"'>
                        <h2>Resignar temas:</h2>
                        <label for="reassignArtist"><p>Mover <span *ngIf='inputAttr == "reassign"'>tema</span><span *ngIf='inputAttr == "reassignMulti"'>temas</span> de {{artist.name}} {{artist.surname}} a:</p>
                            <select name="reassignArtist" id="reassignArtist" [(ngModel)]="reassignArtist">
                                <option disabled value='default'>Selecciona una</option>
                                <ng-container *ngFor='let artistId of arstistIds'>
                                    <option *ngIf='artistId.id != artist.id_artist' value='{{artistId.id}}'>{{artistId.id}} - {{artistId.name}}</option>
                                </ng-container>
                            </select>
                        </label>
                    </ng-container>
                    <br><br>
                    <div style="text-align: center;">
                        <button class="black-button" style="margin-bottom: 0px;" (click)='confirmFrom()' >Modificar</button>
                        <button class="black-button" style="margin-bottom: 0px;" (click)='clearForm()' >Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
