<div id="homeContainer">
    <div *ngIf='artist'>
        <div>
            <div>
                <img src="../../../../../assets/media/images/avatar/artist/{{artist.id_artist}}.png"><span *ngIf='isAdmin' (click)='showArtistForm({attrName:"picture", attrId:artist.id_artist, value:artist.id_artist})'>[[pencil]]</span>
                <p><span *ngIf='isAdmin'> Nombre: </span> {{artist.name}} {{artist.surname}}<span *ngIf='isAdmin' (click)='showArtistForm({attrName:"name", attrId:"", value:artist.name, secondValue:artist.surname})'>[[pencil]]</span> <span *ngIf='isAdmin'> - Id: {{artist.id_artist}}</span><span *ngIf='isAdmin' (click)='showArtistForm({attrName:"id_artist", attrId:"", value:artist.id_artist})'>[[pencil]]</span><span *ngIf='isAdmin' (click)='deleteArtist(artist.id_artist)'>[[trash-can]]</span></p>
            </div>
            <span *ngIf='artist.description != ""' [innerHTML]="artist.description"></span>
            <span *ngIf='artist.description == ""'>Descripción no disponible</span>
            <span *ngIf='isAdmin' (click)='showArtistForm({attrName:"description", attrId:"", value:artist.description})'>[[pencil]]</span>
        </div>
        <div>
            <div>
                <ng-container *ngIf='isAdmin'>
                    <h3>Etiquetas</h3>
                    <div *ngFor='let artistTag of artist.tags'>
                        <p>{{artistTag}} <span (click)='modifyArtistTag(artistTag)'>[[trash-can]]</span></p>
                    </div>
                    <div>
                        <p (click)='modifyArtistData({attrName:"tagsRemove", attrId:"", value:"artistTag"})'> + Nueva etiqueta</p>
                    </div>
                </ng-container>
                <h3>Temas</h3><span *ngIf='isAdmin' (click)='showArtistForm({attrName:"reassignMulti", attrId:artist.id_artist, value:artist.id_artist})'>[[reasign]]</span>
                <div *ngFor='let theme of artist.themeList' id="{{theme.id}}">
                    <img src="../../../../../assets/media/images/covers/{{theme.id}}.png">
                    <p><span *ngIf='isAdmin'> Nombre: </span> <span (click)=showItem(theme.id)>{{theme.name}}</span> <span *ngIf='isAdmin'> - Id: <span (click)=showItem(theme.id)>{{theme.id}}</span></span>
                        <span *ngIf='isAdmin' (click)='deleteTheme(theme.id)'>[[trash-can]]</span>
                        <span *ngIf='isAdmin' (click)='showArtistForm({attrName:"reassign", attrId:theme.id, value:theme.id})'>[[reasign]]</span>
                    </p>
                </div>
                <div *ngIf='isAdmin' (click)='showArtistForm({attrName:"newTheme", attrId:"", value:""})'>
                    <img src="../../../../../assets/media/images/covers/new_theme.png">
                    <p>Nuevo tema</p>
                </div>
                <div *ngIf='showInput'>
                    <ng-container *ngIf='inputAttr != "newTheme" && inputAttr != "reassign" && inputAttr != "reassignMulti"'>
                        <h2>Nuevo elemento "{{attrTranslation[inputAttr]}}":</h2>
                        <label for="{{inputAttr}}"><p>{{attrTranslation[inputAttr]}}</p>
                            <input id="{{inputAttr}}" *ngIf='inputAttr != "description" && inputAttr != "picture"' type="text" [(ngModel)]="inputValue">
                            <input id="{{inputAttr}}" *ngIf='inputAttr == "picture"' type="file">
                            <textarea id="{{inputAttr}}" *ngIf='inputAttr == "description"' name="" id="" cols="30" rows="10" [(ngModel)]="inputValue"></textarea>
                        </label>
                    </ng-container>
                    <ng-container *ngIf='inputAttr == "name"'>
                        <br>
                        <label for="surname"><p>{{attrTranslation['surname']}}</p>
                            <input  type="text" [(ngModel)]="inputSecondValue">
                        </label>
                    </ng-container>
                    <ng-container *ngIf='inputAttr == "newTheme"'>
                        <h2>Nuevo tema: </h2>
                        <label for="name"><p>Nombre: </p>
                            <input  type="text" class="{{nameErr.class}}" [(ngModel)]="newTheme.name">
                            <p *ngIf='nameErr.text != ""'>{{nameErr.text}}</p>
                        </label>
                        <label for="cover"><p>Carátula: </p>
                            <input id="coverFile"  type="file" [(ngModel)]="newTheme.cover" (change)='setImagePreview("cover")'>
                            <img id="coverPreview" class="{{coverErr.class}}" src="ghostCover.png">
                            <p *ngIf='coverErr.text != ""'>{{coverErr.text}}</p>
                        </label>
                        <label for="flag"><p>Idioma: </p>
                            <input id="flag"  type="text" class="{{flagErr.class}}" [(ngModel)]="newTheme.flag" (keydown)="searchFlag()">
                            <p *ngIf='flagErr.text != ""'>{{flagErr.text}}</p>
                            <br><br>
                            <input id="flagFile" type="file" class="{{flagFileErr.class}}" [(ngModel)]="newTheme.flagFile" (change)='setImagePreview("flag")'>
                            <p *ngIf='flagFileErr.text != ""'>{{flagFileErr.text}}</p>
                            <img id="flagPreview" src="ghostFlag.png">
                        </label>
                        <label for="tags"><p>Etiquetas: </p>
                            <input id="tags" type="text" [(ngModel)]="newTheme.tags" placeholder="tag, tag, tag">
                        </label>
                        <label for="lyrics_native"><p>Letra original: </p>
                            <textarea name="" id="lyrics_native" cols="30" rows="10" [(ngModel)]="newTheme.lyrics.native"></textarea>
                        </label>
                        <label for="lyrics_esp"><p>Letra traducida: </p>
                            <textarea name="lyrics_esp" id="" cols="30" rows="10" [(ngModel)]="newTheme.lyrics.esp"></textarea>
                        </label>
                        <label for="theme"><p>Tema: </p>
                            <input id="themeFile" type="file" class="{{themeErr.class}}" [(ngModel)]="newTheme.themeFile" (change)='checkAudioFile()'>
                            <p *ngIf='themeErr.text != ""'>{{themeErr.text}}</p>
                        </label>
                    </ng-container>
                    <ng-container *ngIf='inputAttr == "reassign" || inputAttr == "reassignMulti"'>
                        <h2>Resignar temas:</h2>
                        <label for="reassignArtist"><p>Mover <span *ngIf='inputAttr == "reassign"'>tema</span><span *ngIf='inputAttr == "reassignMulti"'>temas</span> de {{artist.name}} {{artist.surname}} a:</p>
                            <select name="reassignArtist" id="reassignArtist" [(ngModel)]="reassignArtist">
                                <option disabled value='default'>Selecciona una</option>
                                <ng-container *ngFor='let artistId of arstistIds'>
                                    <option *ngIf='artistId.id != artist.id_artist' value='{{artistId.id}}'>{{artistId.id}} - {{artistId.name}}</option>
                                </ng-container>
                            </select>
                        </label>
                    </ng-container>
                    <br><br>
                    <button (click)='confirmFrom()' >Modificar</button>
                    <button (click)='showInput = false' >Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
