@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

@font-face {
	font-family: my-vinyl-icons;
	src: url(./assets/fonts/my-vinyl-icons.ttf);
}

@font-face {
	font-family: bio-rhyme;
	src: url(./assets/fonts/BioRhyme-Regular.ttf);
}

@font-face {
	font-family: rubik;
	src: url(./assets/fonts/Rubik-Regular.ttf);
}

@font-face {
	font-family: cairo;
	src: url(./assets/fonts/Cairo-Regular.ttf);
}

@font-face {
	font-family: karla;
	src: url(./assets/fonts/Karla-SemiBold.ttf);
}

@font-face {
	font-family: lora;
	src: url(./assets/fonts/Lora-Regular.ttf);
}

@font-face {
	font-family: frank;
	src: url(./assets/fonts/FrankRuhlLibre-Regular.ttf);
}

*{
	font-family: sans-serif;
}

:root{
	--pencil_translate: -5px;
	--black-button-back: dimgray;
	--black-button-border: gray;
	--containers: rgb(0, 102, 68);
	--warn: orange;
}

textarea{
	resize: none;
}

*:focus {
    outline: 0 !important;
}

@media (max-width: 999px) {

	#footer{

		min-height: 45px !important;

	}

	.expandOnly{

		display: block !important;

	}

	#menuButton{

		display: inline-block !important;

	}


	#left{

		display: none !important;
		width: 0% !important;
		height: 0% !important;

	}

	#right{

		width: 100% !important;
		height: 100% !important;

	}

	#showcase{

		margin-left: 15px !important;

	}

	.productContainer{

		width: 240px !important;

	}
	
	#external{

		display: none !important;

	}

	#menuExpanded.active{

		display: block !important;

	}

	#shoppingCartContainer{

		top: 98% !important;
		left: 98% !important;
	
	
	}

	#cartContainer {

		height: 70px !important; 
		width: 70px !important;

	}

	#shoppingCartContainer.expandedStepI{

		width: 460px !important;
	
	}

	#shoppingCartContainer.expandedStepI.expandedStepII{

		height: 460px !important;
	
	}

	#shoppingCartContainer.hideCart {

		margin-left: 55px !important;

	}

	.productSeparator{
	
		margin-left: 5px !important;
		margin-right: 5px !important;
	
	}
	
	.cartProductContainer a{
	
		margin-left: 5px !important;
		margin-right: 0px !important;
	}

 }

  @media (min-width: 1000px) and (max-width: 1085px){

  	.galleryPreviewContainer{

		height: 65px !important;
		width: 100px !important;

	}

	.galleryPreview{

		max-height: 65px !important;
		margin-left: 50px !important;

	}

 	#offerTitle{

 		font-size: 1.75em !important;

 	}

 }

 @media (max-width: 1290px){

 	#offerTitle{

 		font-size: 2em;

 	}

 	.productContainerOffer{

	    width: 210px !important;

	}

 }

 @media (min-width: 1000px) and (max-width: 1450px) {

	#left{

		width: 24.5% !important;

	}

	#right{

		width: 74.5% !important;

	}

	.productContainer{

		width: 275px !important;

	}
	
 }

html, body{

	min-width: 800px;
    min-height: 600px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(70, 70, 70);

}

input{
	margin: 5px;
}

.greenButton{

	font-family: BlazingSun;
	color: white;
	padding: 6px;
	background-color: rgb(0, 102, 68);
	user-select: none;
	cursor: pointer;

}

.greenButton.disabledButton{

	background-color: rgb(166, 166, 166);
	cursor: default;

}

.centerButton{

	position: relative;
	left: 50%;
	transform: translateX(-50%);

}

.titleForm{

	margin-top: 0px;
	font-size: 1.5em;

}

.centerText{

	text-align: center;

}

.tinyFont{

	font-size: 0.8em;

}

.mediumFont{

	margin-left: 5px;
	margin-right: 5px;
	font-size: 1.1em;

}

.medium-largeFont{

	margin-left: 5px;
	margin-right: 5px;
	font-size: 1.3em;

}

.largeFont{

	margin-left: 5px;
	margin-right: 5px;
	font-size: 1.5em;

}

.greenText{

	color: rgb(0, 102, 68);

}

.orangeText{

	color: orange;

}

.whiteLink{

	color: white;

}

.noDecorLink{

	text-decoration: none;

}

.centreLink{

	position: relative;
	display: inline-block;
	left: 50%;
	transform: translateX(-50%);

}

.centerTitle{

	top: 50%;
    transform: translateY(-50%);
    position: relative;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
	font-family: BlazingSun;
	color: white;

}

#notificationContainer{

	position: fixed;
    top: -5%;
    left: 50%;
	padding: 15px;
	max-width: 500px;
	text-align: center;
    background-color: orange;
	transform: translateX(-50%);
	opacity: 0;

}

#notificationContainer.active{

    top: 2%;
	opacity: 1;

}

#notificationContainer p{

	margin: 0px;
	padding: 15px;
	font-family: BlazingSun;
	color: white;
	background-color: rgb(0, 102, 68);

}

.youReHere{

	border: 2px white solid;

}

#formError, #formErrorExpand{
	font-family: BlazingSun;
	text-align: center;
	color: var(--warn);
	font-size: 0.8em;
	text-decoration: underline;
}

.title-backg{
	background-color: var(--containers);
	height: 8%;
	top: 50%;
	margin-top: 25px;
    margin-bottom: 16px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 15px;
}

.title, .title-backg p{

	text-align: center;
	font-size: 1.5em;
	color: white;
	font-weight: bold;
	margin: 0px;
	background-color: transparent;

}

.title-backg.line{
	display: inline-block;
	padding-left: 70px;
	padding-right: 70px;
}

.user-data-container-small{
	height: 85px;
}

.box-sizing-border-box{
	box-sizing: border-box;
}

.theme-container{
	position: relative;
	margin: 10px;
	background-color: var(--containers);
}

.theme-container-title{
	vertical-align: middle;
    white-space: nowrap;
    max-width: 100%;
}

.theme-container-title p{
	text-overflow: ellipsis;
    overflow: hidden;
	max-width: 95%;
}

.theme-container.selected{
	border: 2px solid black;
}

.admin-color{
	color: #D99F0D;
}

.my-vinyl-icons-font{
	font-family: my-vinyl-icons;
}
.title-back{
	background-color: rgba(0,0,10,0.2);
	color: rgba(225, 225, 225, 1);
	padding: 10px;
}
.text-error{
	font-weight: bold;
	color: var(--warn);
}

.input-error{
	box-shadow: 0px 0px 2px 3px var(--warn);
}

.text-centre{
	text-align: center;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

.height-100{
	height: 100%;
}

.width-50{
	width: 50%;
}

.font-size-125{
	font-size: 1.25em;
}

.font-size-150{
	font-size: 1.5em;
}

.marg-bott-0{
	margin-bottom: 0px;
}

.avatar-small{
	width: 85px;
}

.avatar-back{
	overflow: hidden;
	border-radius: 50%;
	background-color: black;
}
.artist-avatar-back-s{
	height: 100px;
	width: 100px;
	border-radius: 50%; 
	overflow: hidden;
	border: 2px solid rgba(25, 25, 25, 0.5);
}
.artist-avatar-back-s img{
	height: 100px;
	text-align: center;
}
.cover-back-preview{
	height: 100px;
	width: 100px;
	overflow: hidden;
	border: 1px solid;
}
.cover-back-preview img{
	height: 100px;
	text-align: center;
}
.cover-back-preview-s{
	height: 85px;
	width: 85px;
	overflow: hidden;
	border: 1px solid;
}
.cover-back-preview-s img{
	height: 85px;
	text-align: center;
}
.flag-back-preview{
	height: 45px;
	overflow: hidden;
	border: 1px solid;
}
.flag-back-preview img{
	height: 45px;
}
.flag-back-preview-s{
	height: 35px;
	overflow: hidden;
	border: 1px solid;
}
.flag-back-preview-s img{
	height: 35px;
}
.comment-name-back{
	background-color: rgba(0, 0, 75, 0.2);
	padding: 5px;
}
.flag-small{
	width: 30px;
}
.cover-xs{
	height: 50px;
	min-width: 50px;
}
.display-block{
	display: block;
}

.display-inline{
	display: inline-block;
}

.txt-horizontal-center{
	text-align: center;
}

.txt-horizontal-left{
	text-align: left;
}

.vertical-top{
	vertical-align: top;
}

.vertical-middle{
	vertical-align: middle;
}

.overflow-auto{
	overflow: auto;
}

.cursor-pointer{
	cursor: pointer;
}
.link-decor-none{
	text-decoration: none;
	color: black;
}
.in-drag{
	border: 2px solid white !important;
	opacity: 0.85;
	cursor: grabbing !important;
}

.drop-fall{
	transition: 0.5s;
	filter: brightness(1.5);
}

.position-guide{
	position: relative;
	height: 2px;
	width: 1000px;
	background-color: black;
}
.form-style{
	max-height: 90%;
	overflow: auto;
	width: 625px;
	position: fixed;
	padding: 45px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	box-sizing: border-box;
	z-index: 15;
}
#black-screen{
	position: fixed;
	opacity: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -1;
	transition: 0.5s;
}
#black-screen.show{
	position: fixed;
	opacity: 1;
	z-index: 10;
	transition: 0.5s;
}
#notification-container{
	position: fixed;
	margin-top: -15%;
	text-align: center;
	min-width: 300px;
	padding: 15px;
	left: 50%;
	background-color: var(--warn);
	transform: translateX(-50%);
	transition: margin-top 1s;
	z-index: 20;
}
#notification-container.show{
	margin-top: 5%;
	transition: margin-top 1s;
}
#close-alert{
	display: inline-block;
    position: absolute;
    margin: 0px;
    top: 0px;
    left: 100%;
    padding: 5px;
    transform: translateX(-100%);
	background-color: white;
}
.black-button{
	background-color: rgba(0,0,0,0.8);
    color: white;
    font-weight: bold;
    border: 1px solid gray;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}
.gray-button{
	padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 2px;
	border: 2px solid var(--black-button-border);
    background: var(--black-button-back);
    color: aliceblue;
}
.white-button{
	font-weight: bold;
    border: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    cursor: pointer;
    border: 1px solid;
}
.trash-cap{
	position: absolute;
	transition: 0.25s;
	z-index: 5;
}
.trash-cap:hover{
	transform: translate(2px, -4px) rotate(20deg);
	transition: 0.25s;
}
.trash-body{

}
.light-bulb-off{

}
.light-bulb-on{
	position: absolute;
	opacity: 0;
	transition: 0.25s;
	z-index: 5;
}
.light-bulb-on:hover{
	opacity: 1;
	transition: 0.25s;
}
.vinyl-spin{
	z-index: 5;
	transition: 0.25s;
}
.vinyl-spin:hover{
	transform: rotate(180deg);
	transition: 0.25s;
}
.fake-quill-button-snow{
	font-size: 17px; color: #444;
}
.fake-quill-button-snow:hover{
	color: #06c;
}
.vinyl-spin-1{
	z-index: 5;
	transition: 0.25s;
}

.vinyl-spin-1:hover{
	-webkit-animation: rotating 0.5s linear 1;
	-moz-animation: rotating 0.5s linear 1;
	-ms-animation: rotating 0.5s linear 1;
	-o-animation: rotating 0.5s linear 1;
	animation: rotating 0.5s linear 1;
	transition: 0.25s;
}

.pencil-writting-bottom{
	transition: 0.5s;
}

.pencil-writting-bottom:hover{
	-webkit-animation: writting-bottom  0.25s linear 2;
	-moz-animation: writting-bottom  0.25s linear 2;
	-ms-animation: writting-bottom  0.25s linear 2;
	-o-animation: writting-bottom  0.25s linear 2;
	animation: writting-bottom  0.25s linear 2;
}

.pencil-writting{
	transform: translateY(var(--pencil_translate));
	transition: 0.5s;
}

.pencil-writting:hover{
	-webkit-animation: writting  0.25s linear 2;
	-moz-animation: writting  0.25s linear 2;
	-ms-animation: writting  0.25s linear 2;
	-o-animation: writting  0.25s linear 2;
	animation: writting  0.25s linear 2;
}

.rotating {
	-webkit-animation: rotating 2s linear infinite;
	-moz-animation: rotating 2s linear infinite;
	-ms-animation: rotating 2s linear infinite;
	-o-animation: rotating 2s linear infinite;
	animation: rotating 2s linear infinite;
}

@keyframes rotating {
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes writting-bottom {
	0%   {transform: rotate(-5deg);}
	25%  {transform: rotate(0deg)}
	50%  {transform: rotate(5deg)}
	75%  {transform: rotate(0deg)}
	100% {transform: rotate(-5deg)}
}

@keyframes writting {
	0%   {transform: translateY(var(--pencil_translate)) rotate(-5deg);}
	25%  {transform: translateY(var(--pencil_translate)) rotate(0deg)}
	50%  {transform: translateY(var(--pencil_translate)) rotate(5deg)}
	75%  {transform: translateY(var(--pencil_translate)) rotate(0deg)}
	100% {transform: translateY(var(--pencil_translate)) rotate(-5deg)}
}

.centerContainer{
	position: relative;
	display: inline-block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background: rgb(166, 166, 166); 
}

::-webkit-scrollbar-thumb {
	background: rgb(38, 38, 38); 
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(51, 51, 51); 
}