@media (max-width: 999px) {

	#footer{

		min-height: 45px !important;

	}

	.expandOnly{

		display: block !important;

	}

	#menuButton{

		display: inline-block !important;

	}


	#left{

		display: none !important;
		width: 0% !important;
		height: 0% !important;

	}

	#right{

		width: 100% !important;
		height: 100% !important;

	}

	#showcase{

		margin-left: 15px !important;

	}

	.productContainer{

		width: 240px !important;

	}
	
	#external{

		display: none !important;

	}

	#menuExpanded.active{

		display: block !important;

	}

	#shoppingCartContainer{

		top: 98% !important;
		left: 98% !important;
	
	
	}

	#cartContainer {

		height: 70px !important; 
		width: 70px !important;

	}

	#shoppingCartContainer.expandedStepI{

		width: 460px !important;
	
	}

	#shoppingCartContainer.expandedStepI.expandedStepII{

		height: 460px !important;
	
	}

	#shoppingCartContainer.hideCart {

		margin-left: 55px !important;

	}

	.productSeparator{
	
		margin-left: 5px !important;
		margin-right: 5px !important;
	
	}
	
	.cartProductContainer a{
	
		margin-left: 5px !important;
		margin-right: 0px !important;
	}

 }

  @media (min-width: 1000px) and (max-width: 1085px){

  	.galleryPreviewContainer{

		height: 65px !important;
		width: 100px !important;

	}

	.galleryPreview{

		max-height: 65px !important;
		margin-left: 50px !important;

	}

 	#offerTitle{

 		font-size: 1.75em !important;

 	}

 }

 @media (max-width: 1290px){

 	#offerTitle{

 		font-size: 2em;

 	}

 	.productContainerOffer{

	    width: 210px !important;

	}

 }

 @media (min-width: 1000px) and (max-width: 1450px) {

	#left{

		width: 24.5% !important;

	}

	#right{

		width: 74.5% !important;

	}

	.productContainer{

		width: 275px !important;

	}
	
 }

html, body{

	min-width: 800px;
    min-height: 600px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(77, 77, 77);

}

.greenButton{

	font-family: BlazingSun;
	color: white;
	padding: 6px;
	background-color: rgb(0, 102, 68);
	user-select: none;
	cursor: pointer;

}

.greenButton.disabledButton{

	background-color: rgb(166, 166, 166);
	cursor: default;

}

.centerButton{

	position: relative;
	left: 50%;
	transform: translateX(-50%);

}

.titleForm{

	margin-top: 0px;
	font-size: 1.5em;

}

.centerText{

	text-align: center;

}

.tinyFont{

	font-size: 0.8em;

}

.mediumFont{

	margin-left: 5px;
	margin-right: 5px;
	font-size: 1.1em;

}

.medium-largeFont{

	margin-left: 5px;
	margin-right: 5px;
	font-size: 1.3em;

}

.largeFont{

	margin-left: 5px;
	margin-right: 5px;
	font-size: 1.5em;

}

.greenText{

	color: rgb(0, 102, 68);

}

.orangeText{

	color: orange;

}

.whiteLink{

	color: white;

}

.noDecorLink{

	text-decoration: none;

}

.centreLink{

	position: relative;
	display: inline-block;
	left: 50%;
	transform: translateX(-50%);

}

.centerTitle{

	top: 50%;
    transform: translateY(-50%);
    position: relative;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
	font-family: BlazingSun;
	color: white;

}

#notificationContainer{

	position: fixed;
    top: -5%;
    left: 50%;
	padding: 15px;
	max-width: 500px;
	text-align: center;
    background-color: orange;
	transform: translateX(-50%);
	opacity: 0;

}

#notificationContainer.active{

    top: 2%;
	opacity: 1;

}

#notificationContainer p{

	margin: 0px;
	padding: 15px;
	font-family: BlazingSun;
	color: white;
	background-color: rgb(0, 102, 68);

}

.youReHere{

	border: 2px white solid;

}

#formError, #formErrorExpand{

	font-family: BlazingSun;
	text-align: center;
	color: orange;
	font-size: 0.8em;
	text-decoration: underline;

}

.input-error{

	box-shadow: 0px 0px 2px 3px orange;

}

.centerContainer{
	position: relative;
	display: inline-block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background: rgb(166, 166, 166); 
}

::-webkit-scrollbar-thumb {
	background: rgb(38, 38, 38); 
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(51, 51, 51); 
}